* {
    box-sizing: border-box;
}

html{
    background-color:var(-clr-background);
}
/* top bar

position: absolute;
width: 1440px;
height: 50px;
left: 0px;
top: 0px; */



/* Rectangle 1 */

/* position: absolute;
width: 1440px;
height: 50px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 1px 0px #DBDBDB; */




/* cooltext338881859335046 1 */

/* position: absolute;
width: 152px;
height: 32px;
left: 20px;
top: 9px;

background: url(cooltext338881859335046.png); */


/* Gallery */

/* position: absolute;
width: 50px;
height: 19px;
left: 1277px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-size: 16px;
line-height: 19px; */
/* identical to box height */

/* color: #FF9826; */



/* Memes */
/* 
position: absolute;
width: 54px;
height: 19px;
left: 1173px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-size: 16px;
line-height: 19px; */
/* identical to box height */

/* color: #989898; */



/* About */

/* position: absolute;
width: 43px;
height: 19px;
left: 1377px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-size: 16px;
line-height: 19px; */
/* identical to box height */

/* color: #989898; */

