
.font-settings-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#font-selector{
    width: 150px;
}

