
.search-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    height: 2.625em;
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
}

.add-text{
    border-radius: 0px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
}