
body{
    background-color: #F8F8F8;
    font-family: 'Roboto';
}
.editor-grid{
    display: grid;
    grid-template-columns: minmax(auto,2fr) minmax(23em,auto);
    grid-template-rows: 30px 1fr ;
}
.back-gallery{
    grid-column: 1 / 1 ;
}
.canvas-container{
    grid-column: 1 / 2 ;
}
.meme-settings{
    display: grid;
    grid-template-rows: 30px 30px;
}

.lines-switch-canvas{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.lines-switch-canvas p{
    margin-right: 10em;
    font-size: 1.5em;
}

.edit-buttons{
    width: 2.5em;
    height: 1.875em;
    text-align: center;
    display: inline-block;
    background-color: var(--clr-background);
    border: 0px;
}
.edit-buttons:hover{
    border-bottom: 1px solid  #FF9826;
}